[submodule "vendor/antigen"]
	path = vendor/antigen
	url = git@github.com:fernandoacorreia/antigen.git
[submodule "vendor/jellybeans.vim"]
	path = vendor/jellybeans.vim
	url = git@github.com:fernandoacorreia/jellybeans.vim.git
[submodule "vendor/vim-auto-save"]
	path = vendor/vim-auto-save
	url = git@github.com:fernandoacorreia/vim-auto-save.git
[submodule "vendor/vim-numbertoggle"]
	path = vendor/vim-numbertoggle
	url = git@github.com:fernandoacorreia/vim-numbertoggle.git
[submodule "vendor/editorconfig-vim"]
	path = vendor/editorconfig-vim
	url = git@github.com:fernandoacorreia/editorconfig-vim.git
[submodule "vendor/fzf.vim"]
	path = vendor/fzf.vim
	url = git@github.com:fernandoacorreia/fzf.vim.git
[submodule "vendor/fzf"]
	path = vendor/fzf
	url = git@github.com:fernandoacorreia/fzf.git
[submodule "vendor/tpm"]
	path = vendor/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vendor/vim-tmux-navigator"]
	path = vendor/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vendor/tmux-resurrect"]
	path = vendor/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "vendor/tmux-continuum"]
	path = vendor/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
[submodule "vendor/dracula-tmux"]
	path = vendor/dracula-tmux
	url = git@github.com:fernandoacorreia/dracula-tmux.git
