[user]
	name = Fernando Correia
	email = fernandoacorreia@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[merge]
	conflictStyle = zdiff3 # https://www.ductile.systems/zdiff3/
[push]
	autoSetupRemote = true # When you first push a branch, git will automatically set up tracking for it.
[init]
	defaultBranch = main # Create a main branch instead of a master branch when creating a new repo.
[rerere]
	enabled = true # Enables reuse recovered resolution to automatically resolve conflicts.
[diff]
	algorithm = histogram # Improve diff of reordered functions.
