---
- name: Install utilities from Homebrew
  community.general.homebrew:
    name: "{{ item }}"
    state: present
  with_items:
    - awscli
    - fnm
    - git-filter-repo
    - k9s
    - kubernetes-cli
    - lazydocker
    - mc
    - pillow
    - pre-commit
    - pstree
    - yazi
    - zoxide
