---
- name: Set Z shell as default shell
  become: yes
  user:
    name: "{{ username_on_the_host.stdout }}"
    shell: /bin/zsh

- name: Create secrets README
  shell: echo "# Shell files exporting secrets as environment variables." > $HOME/secrets/README
  args:
    creates: "{{ home_dir }}/secrets/README"

- name: Get status for ~/.profile
  stat:
    path: "{{ home_dir }}/.profile"
  register: home_dot_profile

- name: Get status for ~/.zprofile
  stat:
    path: "{{ home_dir }}/.zprofile"
  register: home_dot_zprofile

- name: Preserve existing ~/.profile
  command: mv "{{ home_dir }}/.profile" "{{ home_dir }}/.profile.bak"
  when: home_dot_profile.stat.isreg is defined and home_dot_profile.stat.isreg

- name: Preserve existing ~/.zprofile
  command: mv "{{ home_dir }}/.zprofile" "{{ home_dir }}/.zprofile.bak"
  when: home_dot_zprofile.stat.isreg is defined and home_dot_zprofile.stat.isreg

- name: Create link for ~/.profile
  file:
    src: "{{ home_dir }}/dotfiles/shell/profile.sh"
    dest: "{{ home_dir }}/.profile"
    state: link

- name: Create link for ~/.zprofile
  file:
    src: "{{ home_dir }}/dotfiles/shell/zprofile.sh"
    dest: "{{ home_dir }}/.zprofile"
    state: link

- name: Get status for ~/.zshrc
  stat:
    path: "{{ home_dir }}/.zshrc"
  register: home_dot_zshrc

- name: Preserve existing ~/.zshrc
  command: mv "{{ home_dir }}/.zshrc" "{{ home_dir }}/.zshrc.bak"
  when: home_dot_zshrc.stat.isreg is defined and home_dot_zshrc.stat.isreg

- name: Create link for ~/.zshrc
  file:
    src: "{{ home_dir }}/dotfiles/shell/zshrc.sh"
    dest: "{{ home_dir }}/.zshrc"
    state: link

- name: Get status for ~/.p10k.zsh
  stat:
    path: "{{ home_dir }}/.p10k.zsh"
  register: home_dot_p10k_zsh

- name: Preserve existing ~/.p10k.zsh
  command: mv "{{ home_dir }}/.p10k.zsh" "{{ home_dir }}/.p10k.bak"
  when: home_dot_p10k_zsh.stat.isreg is defined and home_dot_p10k_zsh.stat.isreg

- name: Create link for ~/.p10k.zsh
  file:
    src: "{{ home_dir }}/dotfiles/shell/p10k.zsh"
    dest: "{{ home_dir }}/.p10k.zsh"
    state: link

- name: Ensure ~/.config/direnv directory exists
  file:
    path: "{{ home_dir }}/.config/direnv"
    state: directory

- name: Create link for direnvrc
  file:
    src: "{{ home_dir }}/dotfiles/config/direnv/direnvrc"
    dest: "{{ home_dir }}/.config/direnv/direnvrc"
    state: link
