---
- name: Install general utilities
  become: "{{ become_option }}"
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - colordiff
    - git
    - htop
    - jq
    - nmap
    - ripgrep
    - telnet
    - tldr
    - tmux
    - tree
    - unzip
    - watch
    - zip

- name: Install LMDE and Ubuntu utilities
  when: ansible_facts['distribution'] in ['LMDE', 'Ubuntu']
  become: yes
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - net-tools
    - zsh

- name: "Copy tmux configuration"
  copy: src={{ home_dir }}/dotfiles/templates/tmux.conf dest={{ home_dir }}/.tmux.conf force=no

- name: Create symlink for .tmux
  file:
    src: "{{ home_dir }}/dotfiles/config/tmux"
    dest: "{{ home_dir }}/.tmux"
    state: link

- name: "Copy .editorconfig"
  copy: src={{ home_dir }}/dotfiles/.editorconfig dest={{ home_dir }}/.editorconfig force=no

- name: "Copy .gitconfig"
  copy: src={{ home_dir }}/dotfiles/.gitconfig dest={{ home_dir }}/.gitconfig force=no

- name: Create symlink for .gitignore_global
  file:
    src: "{{ home_dir }}/dotfiles/config/git/.gitignore_global"
    dest: "{{ home_dir }}/.gitignore_global"
    state: link

- name: "Copy .rgignore"
  copy: src={{ home_dir }}/dotfiles/templates/rgignore dest={{ home_dir }}/.rgignore force=no

- name: "Copy .ideavimrc"
  copy: src={{ home_dir }}/dotfiles/.ideavimrc dest={{ home_dir }}/.ideavimrc force=no

- name: "Ensure .gnupg directory exists"
  file:
    path: "{{ home_dir }}/.gnupg"
    state: directory
    mode: '0700'  # Recommended permissions for .gnupg

- name: "Copy GPG agent configuration"
  copy:
    src: "{{ home_dir }}/dotfiles/templates/gpg-agent.conf"
    dest: "{{ home_dir }}/.gnupg/gpg-agent.conf"
    force: no
